# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
ENV/
.env

# Bases de données / état local
*.db
instance/
uploads/
tmp/

# Logs
*.log

# Node / front (si jamais)
node_modules/
dist/
build/

# Archives volumineuses
*.zip
*.tar.gz
*.7z
